* {
    box-sizing: border-box;
}
html {
    position: relative;
}
body {
    background-color: #264653;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.container {
    padding: 20px;
    height: 350px;
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.game-picture {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
}
.part-of-picture {
    display: none;
}
.error-area {
    text-align: center;
    max-width: 140px;
}
.error-area span{
    color: #e76f51;
}
.word-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a9d8f;
    margin-top: 2rem;
    box-shadow: rgb(0 0 0 / 63%) 0px 3px 8px;
    padding: 8px 20px;
    border-radius: 6px;
}
.letter {
    border-bottom: 3px solid #2a9d8f;
    font-size: 2rem;
    margin: 0 2px;
    width: 20px;
    height: 40px;
    text-align: center;
}
.popup-container {
    background-color: #0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;
}
.popup{
    padding: 20px 48px;
    text-align: center;
    border-radius: 8px;
}
.win {
    background-color: #2a9d8f;
}
.lost {
    background-color: rgb(157, 42, 42);
}
.popup h2 {
    margin-top: 0px;
}
.popup-background{
    background-color: #00000094;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.play-again {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #1579cc;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.436) 0px 3px 8px;
}
.play-again:hover {
    opacity: 0.8;
}
#repeat-letter {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    border-radius: 12px;
    padding: 10px 40px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;

}
#repeat-letter.show {
transform: translateY(-80px);
}